.hero{
    width: 100%;
    min-height: 100vh;
    background-color:#111827 ;
    /* background: url('../../assets/arnold-francisca-f77Bh3inUpE-unsplash.jpg'); */
   background-position: center;
   background-size: cover;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.hero-text{
    text-align: center;
    max-width: 800px;
    
}
.btn-hero{
    padding: 20px 30px;
    background-color: black;
    color: wheat;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.btn:hover{
    color: rgba(0, 0, 0, 0.144);
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600px;
    color: #405ea0;
    
    

}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    ;
    
   
}
.hero-text:hover h1,p{
    color: #5d40a0;
}
.hero-text:hover p{
    color: #5d40a0;
}
