img{
    width: 20rem;
}
.campus{
    margin: 80px auto;
    width: 100%;
    text-align: center;
    

}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.image4{
    width: 30rem;
    height: 34rem;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
    /* height: 25rem; */
}
button{
    padding: 20px 50px;
    background-color: #111827;
    color: wheat;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}
