.nav-container {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  width: 140px;
  border-radius: 20px;
  justify-content: baseline;
  align-items: baseline;
  text-align: flex-start;
  display: flex;
}

.menu {
  width: 40px;
  cursor: pointer;
  display: none;
  height: 40px;
  background-color: gainsboro;
  border-radius: 10px;
 
}
nav ul a {
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
/* @media screen and (max-width: 780px) {
  .nav-container {
    display: flex;
  }
  .menu{
    display:column;
  }
  nav ul a{
    display: none;
  }
} */

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
    width: 100vw;
  }
  .logo{
    display: flex;
  }
  .menu{
    flex-direction:column;
    display: flex;
  }
  nav ul a{
    display: none;
  }
}

