.nav-container {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  width: 140px;
  border-radius: 20px;
  justify-content: baseline;
  align-items: baseline;
  text-align: flex-start;
}
/* nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
} */
.menu {
  width: 30px;
  cursor: pointer;
  display: none;
}
nav ul a {
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
@media screen and (max-width: 780px) {
  .nav-container {
    display: none;
  }
}

@media sreen and (max-width: 780) {
}

@media screen and (min-width: 780px) {
  .container {
    display: table-column;
    width: 33.3%;
    float: left;
  }
  ul a li{
    flex-direction: column;
  }
}
