nav{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
.logo{
    width: 140px;
    border-radius: 20px;
}
/* nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
} */
nav ul a{
     display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
nav ul a:hover{
    color: wheat;
    
}