.program{
    margin: 40px auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
}
.program_img{
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position:relative;
    margin-right: 10px;
    
    
    
}
.program1{
    flex-basis: 30%;
    /* display: inline; */
}
.h1{
    color: brown;
    font-size: 40px;
}