.contact-col ul li img{
    width: 29px;
    margin-right:10px;
}
.contact form input, .contact form textarea{
    display: block;
    padding: 20px;
    width: 100%;
    background:#EBECFE ;
    margin-bottom: 15px;
    resize: none;
    border: 0;
    outline: 0;
    margin-top: 5px;
    


}

.btn-dark-btn{
    margin-top: 20px;
    padding: 20px 80px;
    margin-top:5px;
    margin-bottom: 30px;

}
.contact col p{
    max-width: 50px;
    line-height: 0.3;
}
    
.contact{
    display: flex;
    align-items: end;
    margin-left: 12rem;
    
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact col {
    display: flex;
    margin-bottom:  60px;
    margin-top: 50px;


   

}
.contact-col ul {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    margin-top: 4rem;
    margin-bottom: 10rem;
    font-size: 20px;

}
.p{
    font-size: 20px;
    margin-bottom: 30px;
}

@media(max-width:800px){
    .contact{
        display: flex;
        flex-direction: row;
    }
    .contact input, .contact form textarea{
            display: flex;
            flex-direction: column;
    }
   
}
.contact-col li{
    font-size: 18px;
    margin-right: 32px;
}
.send{
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
}
@media(width:600px){
    .contact{
      display: block;
      text-align: center;
    }
    .contact-col{
        padding: 20px;
    }
}
@media(width:600px){
    .contact{
        display: center;
        text-align: center;
    }
}

