*{
    background-color:none;
}


h1,h2,p{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 12px;
    margin-left: 15px;
    
}
h2{
    
    font-weight: bold;
    font-size: 25px;
}
.about{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 100px auto;
    width: 90%;
}
.about-left {
    flex-basis: 40%;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 20rem;
    border-radius: 10px;
}
.ayee{
    width:100%;
    border-radius:10px;
}
 h3{
    font-weight: 16px;
    font-weight: 600;
    color: #212EA0;
 }
 h4{
    font-size: 45px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
 }
 p{
    color: #676767;
    margin-bottom: 15px;
 }

