footer{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: auto;
    background-color: black;
    padding: 60px 40px;
    border-radius: 20px;
    color: white;
}
ul{
    align-items: center;
    justify-content: center;
   display: flex;
    
}
li {
    margin-left: 100px;
    list-style: none;
   
    
}
.face{
    color: blue;
     padding: 4px 4px;
}
.twitter{
    color: skyblue;
     padding: 4px 4px;
}

span{
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
p{
    color: #438;
    font-size: medium;
}
h3{
    color: #438;
    font-size: 20px;
    margin-left: 50px;
}
.insta{
    padding: 4px 4px;
    color: orange;

}

.toppi{
    margin-top: 140px;
    padding: 4px;
    
}
.toppi p{
     color: gray;
    margin-right: 100px;
}
@media screen and (max-width:780px) {
    .footer{
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
       
    }
    .footer span{
       flex-direction: column;
    }
}

