@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Franklin 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  
}
body{
  background-color: #F5F5F5;
  
}
a{
  color: inherit;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}
.container{
  padding-left: 40px;
  padding-right: 40px;
}
.btn{
  background-color: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:800px){
  .container{
    flex-direction: column;
  }

  
}

@media(width =800px){
        body{
          width: 100%;

        }
    }

  
